annotated-types==0.8.0
certifi==2026.7.22
elastic-transport==8.19.0
elasticsearch==8.13.2
iniconfig==2.3.0
packaging==26.3
pluggy==1.6.0
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.21.0
pytest==8.4.1
python-dotenv==1.1.1
PyYAML==6.0.2
structlog==25.4.0
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.7.0
